
<h2>Capítulos</h2>

<p><%= link_to 'Introdução ao Aust', 'book/intro' %></p>
<p><%= link_to 'Capítulo 1: Instalando e usando o Aust', 'book/chapter_one' %></p>
<p><%= link_to 'Capítulo 2: A API para iniciantes', 'book/chapter_two' %></p>
<p><%= link_to 'Capítulo 3: Conhecendo cada módulo', 'book/chapter_three' %></p>
<p><%= link_to 'Capítulo 4: API avançado', 'book/chapter_four' %></p>
<p><%= link_to 'Capítulo 5: Desenvolvendo módulos', 'book/chapter_five' %></p>
<p><%= link_to 'Perguntas frequentes', 'book/faq' %></p>
