<div id="merchan" class="main_section">
	
	<div class="merchan_container">
		<div class="text">
			<h1>
				Conheça o Aust
			</h1>
			<p>
				O Aust é um CMS com foco no conteúdo e no usuário.
			</p>
			<p>
				<ul>
					<li>
						<span>Gerencimento de múltiplos sites</span>
					</li>
					<li>
						<span>Conteúdos acessíveis via API JSON (não SQL)</span>
					</li>
					<li>
						<span>Sem framework de desenvolvimento (crie sites em Ruby, PHP, Python ou outros)</span>
					</li>
					<li>
						<span>
							Módulos para diferentes tipos de conteúdos:
							textos, vídeos, imagens, arquivos, agenda, cadastros de pessoas ou produtos,
							entre outros
						</span>
					</li>
					<li>
						<span>Design focado no cliente</span>
					</li>
					<li>
						<span>Funciona em hospedagens compartilhadas (PHP 5.2+)</span>
					</li>
				</ul>
			</p>
		</div>
		
		<div class="image">
			<%= image_tag 'merchan_aust.png' %>
		</div>

	</div>
	
	
</div>

<div id="download" class="main_section">
	<div class="main_section_container">
		<div class="get_aust">
			<div class="get_aust_container">
			<div class="news">
				<strong>Este site está em construção.</strong>
				<br>
				<br>
				Isto é um protótipo. O Aust ainda não está pronto.
			</div>
			<div class="download">
				<%= link_to '', '#', { :class => 'download_button' } %>
				v0.3.RC1
			</div>
			</div>
		</div>
	</div>
</div>

<div id="features" class="main_section">
	<div class="main_section_container">
		
		<div class="section_header">
			<h2>
				Porquê usar
			</h2>
			<p>
				10 motivos para usar o Aust
			</p>
		</div>
		<div class="features_line">
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>1</span>
					</div>
					<div class="text">
						<div class="header">
							Baixe e use gratuitamente
						</div>
						<div class="content">
							<p>
							Instale em um diretório no seu servidor. Não é necessário
							reconstruir sites antigos para integrá-los com o Aust.
							</p>
						</div>
					</div>
				</div>
			</div>
		
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>6</span>
					</div>
					<div class="text">
						<div class="header">
							Módulo FlexibleFields
						</div>
						<div class="content">
							<p>
							Com ele, construa formulários com os campos
							que você quiser, como cadastro de pessoas ou produtos.
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="features_line">
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>2</span>
					</div>
					<div class="text">
						<div class="header">
							Múltiplos sites
						</div>
						<div class="content">
							<p>
							O Aust gerencia múltiplos sites
							em um só lugar. Ideal para hospedar seus
							clientes num único servidor.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>7</span>
					</div>
					<div class="text">
						<div class="header">
							Um CMS, literalmente
						</div>
						<div class="content">
							<p>
							Com Wordpress e Joomla, criar o site
							com o framework existente é obrigatório.
							Com o Aust não. Quer usar Python? Sem problemas.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="features_line">

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>3</span>
					</div>
					<div class="text">
						<div class="header">
							Conteúdo via API
						</div>
						<div class="content">
							<p>
							O site principal carrega conteúdos através de
							uma API JSON. Gerencie tudo através da interface
							do Aust.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>8</span>
					</div>
					<div class="text">
						<div class="header">
							Pessoas e Permissões
						</div>
						<div class="content">			
							<p>
							O painel de controle do Aust possui ACL. Seu cliente pode
							criar colaboradores e moderadores sem o desenvolvedor.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="features_line">

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>4</span>
					</div>
					<div class="text">
						<div class="header">
							Desacoplado, porém integrado
						</div>
						<div class="content">
							<p>
								Por não ser obstrutivo e possuir uma
								API JSON, os sites podem ser criados 
								em PHP, Ruby, Python ou outros.
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>9</span>
					</div>
					<div class="text">
						<div class="header">
							Atualizações Seguras com Migrations 
						</div>
						<div class="content">
							<p>
							Com o sistema de <em>migrations</em>, as atualizações 
							são automáticas e não quebram versões anteriores nem a API.
							</p>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="features_line">
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>5</span>
					</div>
					<div class="text">
						<div class="header">
							Módulos para diversas finalidades
						</div>
						<div class="content">
							<p>
							Textos, imagens,
							vídeos, arquivos, agenda de compromissos,
							carrinho de compras, entre outros.
							</p>
						</div>
					</div>
				</div>
			</div>
			
		<div class="feature">
			<div class="feature_container">
				<div class="image">
					<span>10</span>
				</div>
				<div class="text">
					<div class="header">
						Código amigável
					</div>
					<div class="content">
						<p>
						Quer colaborar? O <em>core</em> e módulos seguem o padrão MVC,
						muitos testes unitários, usamos Git. Participe.
						</p>
					</div>
				</div>
			</div>
		</div>

		</div>
		
	</div>
</div>

<div id="documentation" class="main_section">
	<div class="main_section_container">
		
		<div class="section_header">
		<h2>
			Documentação
		</h2>
		<p>
			O que, como, porquê, quando, quem, o que, como...
		</p>
		</div>
		<ul>
			<li>
				<h3><%= link_to 'Capítulo 1: Introdução ao Aust', '#' %></h3>
				<p>
				Aqui você conhecerá o CMS, com detalhes de como ele funciona, razões de
				se construir ele, entre outros. Não é apresentado código.
				</p>
			</li>
			<li>
				<h3><%= link_to 'Capítulo 2: Como instalar e usar o Aust pela primeira vez', '#' %></h3>
				<p>
				O ABC do Aust, como instalar, como criar algumas estruturas e
				</p>
			</li>
			<li>
				<h3><%= link_to 'Capítulo 3: A API para iniciantes', '#' %></h3>
				<p>
				O básico da API, seus padrões, o que é JSON, e mais.
				</p>
			</li>
			<li>
				<h3><%= link_to 'Capítulo 4: Conhecendo cada módulo', '#' %></h3>
				<p>
				Cada módulo possui funcionalidades distintas. Conheça cada um, para o que servem
				e como tirar o máximo proveito deles.
				</p>
			</li>
			<li>
				<h3><%= link_to 'Capítulo 5: API avançado', '#' %></h3>
				<p>
				O que acontece se precisarmos de uma busca mais elaborada.
				</p>
			</li>
			<li>
				<h3><%= link_to 'Capítulo 6: Desenvolvendo módulos', '#' %></h3>
				<p>
					Você tem uma necessidade única, então é hora de construir um módulo próprio.
				</p>
			</li>
			<li>
				<h3><%= link_to 'Perguntas frequentes', '#' %></h3>
				<p>
				Compilação das dúvidas mais comuns.
				</p>
			</li>
		</ul>


	</div>
</div>

<div id="collaborate" class="main_section">
	<div class="main_section_container">
		
		<div class="section_header">
		<h2>
			Colabore
		</h2>
		<p>
			Ajude-nos.
		</p>
		</div>

		<a href="https://github.com/austcms/aust" target="github">
		<div class="items">
			<div class="item">
				<div class="item_container">
					<div class="image">
						<div class="image_container">
							<%= image_tag 'collaborate/github.png' %>
						</div>
					</div>
					<div class="text">
						<div class="text_container">
							Github
						</div>
					</div>
				</div>
			</div>
			</a>

			<a href="http://github.com/austcms/aust">
			<div class="item">
				<div class="item_container">
					<div class="image">
						<div class="image_container">
							<%= image_tag 'collaborate/docs.png' %>
						</div>
					</div>
					<div class="text">
						<div class="text_container">
							Documentação para desenvolvedores
						</div>
					</div>
				</div>
			</div>
			</a>

			<a href="https://github.com/austcms/aust/wiki/Api-specs" target="github">
			<div class="item">
				<div class="item_container">
					<div class="image">
						<div class="image_container">
							<%= image_tag 'collaborate/api_json.png' %>
						</div>
					</div>
					<div class="text">
						<div class="text_container">
							Especificações da API
						</div>
					</div>
				</div>
			</div>
			</a>
			
			<a href="http://groups.google.com/group/austcms" target="group">
			<div class="item">
				<div class="item_container">
					<div class="image">
						<div class="image_container">
							<%= image_tag 'collaborate/groups.png' %>
						</div>
					</div>
					<div class="text">
						<div class="text_container">
							Grupo de Discussão
						</div>
					</div>
				</div>
			</div>
			</a>
		</div>
		
	</div>
</div>
