<!DOCTYPE html>
<html>
<head>
  <title>Austsite</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="global">
		<div class="global_container">

			<div id="header" class="main_section">
				<div class="logo">
					<%= link_to image_tag('logo.png'), root_path %>
				</div>
				<div id="navigation">
					<ul>
						<li><%= link_to 'Principal', root_path, { :scroll_to => '#global' } %></li>
						<li><%= link_to 'Por quê', aust_why_path, { :scroll_to => '#features' } %></li>
						<li><%= link_to 'Documentação', aust_why_path, { :scroll_to => '#documentation' } %></li>
						<li><%= link_to 'Download', aust_why_path, { :scroll_to => '#merchan' } %></li>
						<li><%= link_to 'Contato', aust_why_path, { :scroll_to => '#global' } %></li>
					</ul>
				</div>
			</div>
			<div class="view">
				<div class="view_container">
				<%= yield %>
				</div>
			</div>
			<div class="footer">
				<div class="footer_container"></div>
			</div>
		
		</div>
		
	</div>
	
</body>
</html>