<!DOCTYPE html>
<html>
<head>
  <title>Aust CMS - múltiplos sites, conteúdo entregue via API JSON</title>
  <%= stylesheet_link_tag 'standard', 'style', 'shCore', 'shThemeDefault' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'shCore', 'shBrushPhp' %>
  <%= csrf_meta_tag %>
</head>
<body id="body_tag">

	<div id="global">
		<div class="global_container">

			<div id="header" class="main_section">
				<div class="logo">
					<%= link_to image_tag('logo.png'), root_path %>
				</div>
				<div id="navigation">
					<ul>
						<li><%= link_to 'Download', root_path+'#download', { :scroll_to => '#download' } %></li>
						<li><%= link_to 'Colabore', root_path+'#collaborate', { :scroll_to => '#collaborate' } %></li>
						<li><%= link_to 'Siga-nos', 'http://twitter.com/austcms', { :target => 'twitter' } %></li>
					</ul>
				</div>
			</div>
			<div class="view">
				<div class="view_container">
				<%= yield %>
				</div>
			</div>
			<div class="footer">
				<div class="footer_container"></div>
			</div>
		
		</div>

		<div id="footer">
			<div class="footer_container">
			Desenvolvido por
			<a href="http://twitter.com/kurko" target="_blank">Alexandre de Oliveira</a>.
			Todos os direitos reservados.
			Leia a <a href="#">Licença de uso o Aust</a>.
			</div>
		</div>
		
	</div>
	
	<span id="back_to_top_link"><a href="#" scroll_to="#body_tag">Voltar ao topo</a></span>
	<script type="text/javascript">
	     SyntaxHighlighter.all()
	</script>
</body>
</html>